################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/minirsa-vs/.vs/minirsa-vs/v16
